.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    float: end;
    width: 100%;
    margin-bottom: 1%;
    flex-direction: column;

}

.copyright {
    margin-bottom: 0;
    font-size: .65em;
    color: black;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.iconCont {
    width: 9em;
    justify-content: space-between;

}



