#blogCont {
    color: black;
    grid-gap: 4em;
    width: 100em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    display: flex;
    background-color: #676767;
    flex-direction: column-reverse;
    align-items: flex-start;




}


.therock {
    width: 100em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: 30vh;
    object-fit: cover;

}

.cardImage {
    width: 20em;
}

.story {
    color: black;
}

.articleCard {
    background-color: red;
    width: 40em;
    align-self: auto;
}

.filter {

    background-color: blue;
    align-self: flex-end;

}