#blogCont {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.therock {
    width: 80em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;

}