.navLink {
    color: white;
    font-weight: 500;
}

.active {
    color: #f0860c;
}

.flex {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: red;

}


.appbar {
    padding-top: 4px;
    padding-bottom: 4px;
}

/*#loner {*/
/*   margin-left: 60%;*/
/*}*/

