.navLink {
    color: white;
    font-weight: 500;
}

.active {
    color: #f0860c;
}

.flex {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;

}


.appbar {
    padding-top: 4px;
    padding-bottom: 4px;
}



.linkIcon {
    display: flex;
    width: 30em;
    align-items: center;
    justify-content: space-evenly;

}

#myname {
    color: white;
    font-family: fantasy;
    margin-left: 2em;
}

