#homeCont {
    width: 30%;
    margin-left: 2%;
    height: 100%;

}

.hi {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.title {
    margin-top: 0;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none;
    margin-bottom: 10px;
}

p {
    opacity: 1;
    color: rgba(236, 236, 243, 0.83);
    letter-spacing: .01em;
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 500;
}

.more {
    color: #f0860c;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me {
    height: 40em;
}

.iconCont {
    display: flex;
    justify-content: flex-end;


}

.icon:hover {
    cursor: pointer;
    opacity: .7;
}

.intro {
    width: 100%;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(rgba(59, 59, 59, 0.5), rgba(96, 94, 94,.8)), url("https://images.pexels.com/photos/1191369/pexels-photo-1191369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    min-height: 66vh;
    padding-top: 92px;

}

.bio {
    text-align: center;
    white-space: pre-wrap;
    transition-timing-function: ease;
    transition-duration: 0.45s;
    transition-delay: 0.229412s;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    font-size: 1rem;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
}