#homeCont {
    width: 30%;
    margin-left: 2%;
    height: 100%;
}

.hi {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.title {
    margin-top: 0;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none;
    margin-bottom: 10px;
}

p {
    opacity: 1;
    color: rgba(236, 236, 243, 0.83);
    letter-spacing: .01em;
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 500;
}

.more {
    color: #f0860c;
}

.main {
    display: flex;
    justify-content: start;
    align-content: end;
    margin-top: 2%;
}

.me {
    height: 40em;
}

